:root {
  --primary-color: #f00;
  --base : #1E213A;
  --base-100 : #100E1D;

}

.App {
  display: flex;
  min-height: 100vh;
}

.SideBar {
  flex: 1;
  background: var(--base);

  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.Dashboard {
  flex: 3;
  background: var(--base-100);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.button {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #E7E7EB;
}

.rounded-icon {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
